# Created by .ignore support plugin (hsz.mobi)
### Go template
# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.testz

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/

### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen
.idea/workspace.xml
"\345\206\205\345\273\272\345\256\271\345\231\250/"
